body {
    padding: 0;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'poppins';
}
.leaflet-container {
    width: 100%;
    height: 45vh;
}

#maps {
    position: relative;
}

.leaflet-control-attribution {
    display: none;    
}
